{% extends "blog/base.html" %}
{% load static %}
{% block content %}

  <div class="columns is-mobile">
  <div class="column is-one-quarter">

<aside class="menu">
    <h1 class="title is-2">
    Messages
    </h1>
<ul style="overflow-y: scroll; height: 500px" class="menu-list">
    

    {% for d_message in d_messages %}
    <a class="{% if active_dm == d_message.user.username %}is-active{% endif %}" href="{% url 'dms' d_message.user.username %}">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        {% if d_message.user.profile.image.url %}
                            <img class = "rounded-circle article-img" src="{{ d_message.user.profile.image.url }}">
                        {% endif %}
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                        <strong>{{ d_message.user.username }}</strong> <small>@{{ d_message.user.username }}</small>
                        </p>
                    </div>

                    <div class="content">
                        {% if d_message.unread %}
                        <p style="font-weight: bold; color: red;">
                            <i class="material-icons">mark_chat_unread</i> {{ d_message.unread }}
                        </p>
                        {% endif %}        
                    </div>
                </div>
            </article>
        </div>
    </a>
    {% endfor %}
</ul>
</aside>
<br>
<a href="#" class="button is-success">New message</a>

</div>

<div class="column">

<div style="overflow-y: scroll; height: 500px">

{% for dm in dms %}
<div class="box">
  <article class="media">
    <div class="media-left">
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ dm.sender.profile.first_name }} {{ dm.sender.profile.last_name }}</strong> <small>@{{ dm.sender.username }}</small><strong><small> ({{ dm.date|date:'N d G:i'}})</small></strong>
        </p>
        {{ dm.body }} 
      </div>
    </div>
  </article>
</div>
{% endfor %}


</div>


<form role="form" method="POST" action="#">
  {% csrf_token %}
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img class = "rounded-circle article-img" src="{{ user.profile.image.url }}">
    </p>
  </figure>
  <div class="media-content">
    <input type="hidden" name="to_user" value="{{ active_dm }}">
    <div class="field">
      <p class="control">
        <textarea class="textarea" name="body" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <button type="submit" name="action" class="button is-info">Send</buttom>
        </div>
      </div>
    </nav>
  </div>
</article>
</form>

</div>
</div>

{% endblock %}
